body {
  background-color: #ffffffea;
}
header,
.alert {
  z-index: 100;
}
.description {
  height: 25px;
  overflow: hidden;
  transition: height 0.3s ease-in 0.3s;
}
/* .description:hover {
  height: 80px;
}
.carrito {
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
} */
.table__productos {
  display: flex;
}
.table__productos > img {
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input {
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide,
.remove {
  display: none;
}

.card img {
  border-radius: 0.9375rem;
  object-fit: contain;

  background-color: transparent;
  border-radius: 1.9375rem;
}

img {
  padding: 1rem;
  min-height: auto;
  width: 500px;
  background-color: #f98169;
}
